
/* Menu button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 300px;
    min-height: auto;
    /* text-align: center; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 700;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ffea00}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #c1c427;
  }

  .logout{margin-top: auto;
    padding: 30px;
    text-align: center;
    background-color: rgb(46, 225, 10);
    font-weight: 700;
  }
  .logout:hover{
    color: red;
  }