.employee-report-container {
    text-align: center;
    padding: 20px;
}

.download-button {
   
    background-color: #5c9424;
    
}
.download-button:hover{
    color: rgb(255, 0, 0);
    background-color:#5dbb00 ;
}

.report-details {
    font-size: 1.2em;
    margin-top: 20px;color: white;
}

.report-details p {
    margin: 5px 0;
}
