

/* Logo styles */
.logo img {
    height: 100px;
    margin-right: 10px;
    padding: 10px;

}

.logo span {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Tangerine', cursive;
    color: rgb(242, 242, 242);
    /* Applying Tangerine font */
}


/* Navigation styles */

nav a {
    margin-top: 200px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;


}

nav a:hover {
    background-color: rgb(255, 0, 0);
    padding: 10px 15px;

}

nav{
    text-align: left;
    background-color: rgb(21, 105, 27);
    padding:10px;
}
