.salary-report-container {
    text-align: center;
    padding: 20px;
}

.background-only {
    background-image: url('/path/to/your/background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.report-title {
    font-size: 2em;
    color: #ffffff;
}

.download-button {
    margin-bottom: 20px;
}

.report-list {
    list-style-type: none;
    padding: 0;
}
.total-salary{
    color: rgb(255, 255, 255);
}

.chart-container {
    margin-top: 20px;
}
